/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* Select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Page */
.row .card {
    width: 16rem;
    margin: 5px;
    border-radius: 10%;
}
.row .card img {
    width: 100%;
    height: 50%;  
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;   
}
.card-body {
    background-color: darkgrey;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;      
}









/* Media query */
@media screen and (max-width: 999px) {
    .setTableOff tbody, 
    .setTableOff tr,
    .setTableOff td {
        display: block;
    }

    .setTableOff thead tr {
        position: absolute;
        display: none;
    }

    .setTableOff tbody td {
        position: relative;
        text-align: center;
        padding-left: 20vw;
    }

    .setTableOff tbody td::before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        font-weight: bold;
        background-color: darkgrey;
    }
}